{% extends "base.html" %}
{% block content %}
<html> 
<head> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script> 
<script src="../static/dist/skulpt.min.js" type="text/javascript"></script> 
<script src="../static/dist/skulpt-stdlib.js" type="text/javascript"></script> 
<link rel="stylesheet" type="text/css" href="../static/codemirror/codemirror.css">
<link rel="stylesheet" type="text/css" href="../static/codemirror/monokai.css">
<script src="../static/codemirror/codemirror.js" type="text/javascript"></script>
<script src="../static/codemirror/python.js" type="text/javascript"></script> 
</head> 
<body> 
<script type="text/javascript">
var editor; 
window.onload = function () { 
    editor = CodeMirror.fromTextArea(document.getElementById("code"),{
        lineNumbers: true,
        theme: "monokai",
        mode:  "python"
    });
  };
// output functions are configurable.  This one just appends some text
// to a pre element.
function outf(text) { 
    var mypre = document.getElementById("output"); 
    mypre.innerHTML = mypre.innerHTML + text; 
} 
function builtinRead(x) {
    if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
    return Sk.builtinFiles["files"][x];
}
// Here's everything you need to run a python program in skulpt
// grab the code from your textarea
// get a reference to your pre element for output
// configure the output function
// call Sk.importMainWithBody()
function runit() { 
   //var prog = document.getElementById("code").value;
   var prog = editor.getValue();
   var mypre = document.getElementById("output"); 
   mypre.innerHTML = ''; 
   Sk.pre = "output";
   Sk.configure({output:outf, read:builtinRead}); 
   (Sk.TurtleGraphics || (Sk.TurtleGraphics = {})).target = 'mycanvas';
   var myPromise = Sk.misceval.asyncToPromise(function() {
       return Sk.importMainWithBody("<stdin>", false, prog, true);
   });
   myPromise.then(function(mod) {
       console.log('success');
   },
       function(err) {
       console.log(err.toString());
   });
} 
</script>
<div class="col-md-6">
<h1 id="problemHeading">Lesson 1.1</h1>
<p id="problemDescription">Problem description</p>
<p id="problemHint">hints</p>
</div>
<div class="col-md-6">
<form> 
<textarea id="code" cols="40" rows="10">import turtle

t = turtle.Turtle()
t.forward(100)

print "Hello World"
</textarea><br /> 
<button type="button" onclick="runit()">Run</button> 
</form> 
<pre id="output" ></pre> 
<!-- If you want turtle graphics include a canvas -->
<div id="mycanvas"></div>
</div> <!--col-md-6-->
</body> 
</html>

{% endblock %}