{% extends "base.html" %}
{% block content %}
<html> 
<head> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script> 
<script src="../static/dist/skulpt.min.js" type="text/javascript"></script> 
<script src="../static/dist/skulpt-stdlib.js" type="text/javascript"></script> 
<link rel="stylesheet" type="text/css" href="../static/codemirror/codemirror.css">
<link rel="stylesheet" type="text/css" href="../static/codemirror/monokai.css">
<script src="../static/codemirror/codemirror.js" type="text/javascript"></script>
<script src="../static/codemirror/python.js" type="text/javascript"></script>
<script src="../static/js/lessons.js" type="text/javascript"></script>
<script src="../static/js/editor.js" type="text/javascript"></script>
<script src="../static/js/ide.js" type="text/javascript"></script>
 <p id="sectionNum" hidden>{{sectionNum}}</p> 

<script type="text/javascript">
	console.log('asdf');
	$('#code').blur(function (event) {
    setTimeout(function () { $("#code").focus(); }, 20);});
	window.onpageshow = read_heading;
</script>

</head> 
<body> 
<div class="col-md-6">
<h1 id="Heading">§{{lessonNum}}.{{sectionNum}} <span id="subheading">{{content["subheading"]}}</span></h1>
<p id="Content">{{content["content"]}}</p>
{% if content["challenge"] != '' %}
<h3 style="font-style:italic">Challenge</h3>
{% endif %}
<p id="Challenge">{{content["challenge"]}}</p>
<p id="Example">{{content["example"]}}</p>
{% if content["hints"][0] != '' %}
<h3 style="font-style:italic">Hints</h3>
{% endif %}
<p id="Hints">{{content["hints"][0]}}</p>
</div>
<div class="col-md-6">
<form> 
<textarea id="code" cols="40" rows="10">{{content["code"]}}
</textarea><br /> 
<button id="RunCode" class="btn btn-primary" style="float: right" type="button" onclick="runit('{{content['output']|replace("\n","\\n")}}')">Run Code</button> <br><br>
</form> 
<pre id="output" style="visibility: hidden"></pre> 
<p id="success" style="visibility: hidden">Congratulations! You have completed this lesson. Keep going!</p>
<p id="failure" style="visibility: hidden">Incorrect. Try again. If you are stuck listen to the hint.</p>

<!-- If you want turtle graphics include a canvas -->
<div id="mycanvas"></div>
{% if lessonNum == maxLessons|length and maxLessons[lessonNum-1]-1 == sectionNum %}
<!--no next link if final lesson (for now)-->
<a id="PrevLesson" href="/turtle?lesson={{lessonNum}}&section={{sectionNum-1}}" style="visibility: hidden">Previous Lesson</a>
{% elif lessonNum == 1 and sectionNum == 0 %}
<a id="NextLesson" href="/turtle?lesson={{lessonNum}}&section={{sectionNum+1}}" style="visibility: hidden">Next Lesson</a>
{% elif sectionNum == 0 %}
<a id="NextLesson" href="/turtle?lesson={{lessonNum}}&section={{sectionNum+1}}" style="visibility: hidden">Next Lesson</a>
<a id="PrevLesson" href="/turtle?lesson={{lessonNum-1}}&section={{maxLessons[lessonNum-2]-1}}" style="visibility: hidden">Previous Lesson</a>
{% elif maxLessons[lessonNum-1]-1 == sectionNum %}
<a id="NextLesson" href="/turtle?lesson={{lessonNum+1}}&section=0" style="visibility: hidden">Next Lesson</a>
<a id="PrevLesson" href="/turtle?lesson={{lessonNum}}&section={{sectionNum-1}}" style="visibility: hidden">Previous Lesson</a>
{% else %}
<a id="NextLesson" href="/turtle?lesson={{lessonNum}}&section={{sectionNum+1}}" style="visibility: hidden">Next Lesson</a>
<a id="PrevLesson" href="/turtle?lesson={{lessonNum}}&section={{sectionNum-1}}" style="visibility: hidden">Previous Lesson</a> 
{% endif %}
<div style="display: none;" id="LessonNumber">{{ lessonNum }}</div>
<div style="display: none;" id="SectionNumber">{{ sectionNum }}</div>
</div> <!--col-md-6-->
</body> 
</html>

{% endblock %}